---
import Layout from "../layouts/Layout.astro";
import Rone from "../components/Rone";
---

<Layout title="Welcome to Astro.">
  <div class="p-20 bg-yellow-50 text-black"><a href="/pone" data-astro-prefetch="load">aa</a></div>
  <Rone client:only="react" />
</Layout>
